#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=vm2.example.com

# Root password
rootpw --iscrypted $6$sXrwOHe04QuYUQYA$pE9Jt6Sy5GKWi8uNwqjbcud5EbFtPy/qCXZEQN//0k/CahQz6tCgFZMqjNfyDgVDARC0ftvvJ5e94pg/FJv.8.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=etiba --password=$6$quy0AjY59vD6SzSK$hKS52RJi8mPZzeap6K7gYPcAfRWlXSq2STpE.prRuknrhNnrB.VtN3xxAQbvjAHcV3P1kTMFnbUY4iygJ8n79/ --iscrypted --gecos="etiba"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.253 --fstype="lvmpv" --ondisk=sda --size=17520
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup centos --pesize=4096 pv.253
logvol /  --fstype="xfs" --size=10000 --name=root --vgname=centos
logvol /var  --fstype="xfs" --size=5000 --name=var --vgname=centos
logvol /home  --fstype="xfs" --size=2000 --name=home --vgname=centos
logvol swap  --fstype="swap" --size=512 --name=swap --vgname=centos

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
